CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
gmon.out
analysis.txt
callgrind.out.*
analysis_kg.txt
deps.tar
deps/*
install/
include/ophelib/wire/*.h

docs/*
bin/*
lib/*
lib_/*
.git

ophelib-release.zip
